Repository DeveLeb/Develeb-Platform, pull requests merged in 2024-09, with the labels that each got.

#69 Update the external package.json
  package.json
Labels: bug

#68 Home page
  packages/frontend/next.config.mjs
  packages/frontend/package.json
  packages/frontend/public/icons/Line.png
  packages/frontend/public/icons/RectDots.png
  packages/frontend/public/icons/SquareDots.png
  packages/frontend/public/icons/lines.png
  packages/frontend/public/images/DownloadSectionImage.png
  packages/frontend/public/images/hero image.png
  packages/frontend/public/images/logo 2.png
  packages/frontend/src/app/favicon.ico
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/not-found.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/assets/Arrow.svg
  packages/frontend/src/components/atoms/LatestEventCard.tsx
  packages/frontend/src/components/atoms/LatestJobCard.tsx
  packages/frontend/src/components/atoms/LinkSection.tsx
  packages/frontend/src/components/atoms/Subscribe.tsx
  packages/frontend/src/components/atoms/ValuesCard.tsx
  packages/frontend/src/components/atoms/button.tsx
  packages/frontend/src/components/atoms/homePageTitle.tsx
  packages/frontend/src/components/atoms/input.tsx
  packages/frontend/src/components/molecules/Footer.tsx
  packages/frontend/src/components/molecules/Header.tsx
  packages/frontend/src/components/molecules/LatestSection.tsx
  packages/frontend/src/components/molecules/NavBar.tsx
  packages/frontend/src/components/molecules/TopPartners.tsx
  packages/frontend/src/lib/utils.ts
  packages/frontend/src/types/svg.d.ts
  packages/frontend/tailwind.config.ts
Labels: frontend

#67 tags crud operations
  packages/backend/src/api/tags/__tests__/tagsRouter.test.ts
  packages/backend/src/api/tags/__tests__/tagsService.test.ts
  packages/backend/src/api/tags/tagsModel.ts
  packages/backend/src/api/tags/tagsRepository.ts
  packages/backend/src/api/tags/tagsRouter.ts
  packages/backend/src/api/tags/tagsService.ts
  packages/backend/src/server.ts
Labels: backend

#72 update job registries
  packages/backend/src/api/job/jobRouter.ts
Labels: backend

#33 feat: Add initial cicd pipeline
  .github/workflows/backend-deployment.yml
  .github/workflows/frontend-deployment.yml
  .github/workflows/workflow-tempalte.yml
  docker-compose.yml
  package-lock.json
  packages/backend/.dockerignore
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/api/user/__tests__/userRouter.test.ts
  packages/backend/src/api/user/__tests__/userService.test.ts
  packages/backend/src/db/migrate.ts
  packages/backend/tsup.config.ts
Labels: cicd

#63 Event page
  package-lock.json
  packages/backend/src/common/utils/envConfig.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/data/events
  packages/frontend/src/app/events/page.tsx
  packages/frontend/src/app/globals.css
  packages/frontend/src/app/jobs/columns.tsx
  packages/frontend/src/app/jobs/data-table.tsx
  packages/frontend/src/app/jobs/page.tsx
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/components/atoms/PaginationControls.tsx
  packages/frontend/src/components/atoms/Subscribe.tsx
  packages/frontend/src/components/molecules/EventSearchPanel.tsx
  packages/frontend/src/components/molecules/EventsDisplay.tsx
  packages/frontend/src/components/molecules/Footer.tsx
  packages/frontend/src/components/molecules/Header.tsx
  packages/frontend/src/components/molecules/JobCard.tsx
  packages/frontend/src/components/molecules/JobFilter.tsx
  packages/frontend/src/components/molecules/JobSearchPanel.tsx
  packages/frontend/src/components/molecules/JobsList.tsx
  packages/frontend/src/components/ui/button.tsx
  packages/frontend/src/components/ui/card.tsx
  packages/frontend/src/components/ui/input.tsx
  packages/frontend/src/components/ui/loadingSpinner.tsx
  packages/frontend/src/components/ui/table.tsx
  packages/frontend/src/services/EventService.ts
  packages/frontend/src/services/FetcherService.ts
  packages/frontend/src/types/Event.d.ts
  packages/frontend/src/types/EventType.d.ts
  packages/frontend/src/types/Job.ts
  packages/frontend/src/types/TagType.d.ts
  packages/frontend/src/types/index.d.ts
  packages/frontend/src/utils/JobsDummyData.ts
  packages/frontend/src/utils/getTimePassedSince.ts
  packages/frontend/tailwind.config.ts
Labels: frontend

#78 Added support for Grafana Loki
  packages/backend/package.json
  packages/backend/src/common/utils/loggerOptions.ts
  packages/backend/src/server.ts
Labels: cicd

#79 Database update
  docs/db_model.dbml
  docs/db_model.png
  packages/backend/src/db/migrations/0000_light_killer_shrike.sql
  packages/backend/src/db/migrations/meta/0000_snapshot.json
  packages/backend/src/db/migrations/meta/_journal.json
  packages/backend/src/db/schema.ts
Labels: backend

#81 fix/resources-logic
  packages/backend/src/api/resources/resourceModel.ts
  packages/backend/src/api/resources/resourceRepository.ts
  packages/backend/src/api/resources/resourceRequest.ts
  packages/backend/src/api/resources/resourceRouter.ts
  packages/backend/src/api/resources/resourceService.ts
Labels: backend
